<h1>Stupid Coaching</h1>

<div class="container you"><strong>You > </strong>
<span><%= @question %></span>
</div>

<div class="container coach"><%= @answer %>
<span><strong> < Your coach </strong></span>
</div>
